.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media(max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 10px;
    border: 2px solid #ddd;
}
.form__button {
    padding: 10px;
    background-color: hsl(180, 100%, 25%);
    color: white;
    border: none;
    transition: 0.4s;
}

.form__button:hover {
    background: hsl(180, 100%, 35%);
    transform: scale(1.1);
}

.form__button:active {
    background: hsl(180, 100%, 45%);
}